<body id="top">

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- end preloader -->

<!-- %= render "headertemplate" % -->

<%= render "navbarlanding" %>

<!-- start home -->
<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1 class="wow fadeIn color-white" data-wow-offset="50" data-wow-delay="0.9s">
          <span>Life to Remind</span><span class="home-version">Demonstração</span></h1>
        <div class="element">
          <div class="sub-element">Life To Remind</div>
          <div class="sub-element">Planeje sua vida</div>
          <div class="sub-element">Alcance objetivos</div>
        </div>
        <!-- a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">COMEÇAR</a -->
        <%= link_to "COMEÇAR", new_plan_path, class: "btn btn-default wow fadeInUp", method: "get" %>
      </div>
    </div>
  </div>
</section>
<!-- end home -->

<!-- start about -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">O que é o <span>Life to Remind</span></h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-mobile"></i>
            </div>
            <h3 class="media-heading">LIFE TO REMIND</h3>
          </div>
          <div class="media-body">
            <p>Sua vida é muito importante. Faça o planejamento dela no Life to Remind, acompanhe seus objetivos de vida
              pessoais, financeiros e profissionais ou outro âmbito de sua escolha.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-comment-o"></i>
            </div>
            <h3 class="media-heading">UM PLANO INDIVIDUAL</h3>
          </div>
          <div class="media-body">
            <p>Conheça mais a si mesmo. Entenda melhor quem é você, no que é bom, forças, fraquezas, oportunidades e
              ameaças ao seu redor. Além disso, descobra seu propósito de vida, missão, valores dentre outras
              características individuais.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-html5"></i>
            </div>
            <h3 class="media-heading">REDIRECIONE SEU CAMINHO</h3>
          </div>
          <div class="media-body">
            <p>O Life to Remind te ajuda conhecer e seguir seu caminho. Objetivos também podem mudar no decorrer da
              vida, por que não acompanha-los?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->

<!-- % render "team" % -->

<!-- start service -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">O que o <span>LTR</span> possui</h2>
      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-layers color-white"></i>
        <h4>Planos</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
        <i class="lnr lnr-file-add color-white"></i>
        <h4>Análise Ambitental - Matriz SWOT</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-pushpin color-white"></i>
        <h4>Missão</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-layers color-white"></i>
        <h4>Valores</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
        <i class="lnr lnr-file-add color-white"></i>
        <h4>Papéis</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-pushpin color-white"></i>
        <h4>Fatores Críticos de Sucesso</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-layers color-white"></i>
        <h4>Objetivos Estratégicos Pessoais</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
        <i class="lnr lnr-file-add color-white"></i>
        <h4>Metas</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="lnr lnr-pushpin color-white"></i>
        <h4>Atividades</h4>

      </div>
    </div>
  </div>
</section>
<!-- end servie -->

<!-- start portfolio -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">MEU <span>PLANEJAMENTO</span></h2>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("plan1.png", alt: "portfolio img 1", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Meu plano</h4>
            <%= link_to "Detalhes", myplan_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("mission1.png", alt: "portfolio img 2", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Minha missão</h4>
            <%= link_to "Detalhes", new_mission_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("sphere1.png", alt: "portfolio img 3", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Âmbitos e Objetivos</h4>
            <%= link_to "Detalhes", new_objective_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("meta1.png", alt: "portfolio img 4", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Metas e Atividades</h4>
            <%= link_to "Detalhes", new_objective_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("status1.png", alt: "portfolio img 5", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Status</h4>
            <%= link_to "Detalhes", inicio_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("status2.png", alt: "portfolio img 6", class: "img-responsive border-ltr") %>
          <div class="portfolio-overlay">
            <h4>Análise Ambiental</h4>
            <%= link_to "Detalhes", plans_swotedit_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end portfolio -->

<%= render template: "contacts/new" %>

<!-- start copyright -->
<footer id="copyright" class="background-blue-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center p-b-10">
        <p class="wow bounceIn color-white" data-wow-offset="50" data-wow-delay="0.3s">
          Copyright &copy; 2019 Life to Remind</p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright -->

</body>