// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-swot {
  border: 1px solid rgb(189, 189, 189);
  margin: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.4em;
  text-align: center;
  background-color: rgba(105, 105, 105, 0.41);
  -webkit-text-fill-color: #eeeeee;
}

.padding-all {
  padding: 1em;
}

.background-blue {
  background-color: #44c3d5;
}

.background-blue-dark {
  background-color: #2e7394;

}

.background-blue-light {
  background: linear-gradient(180deg, #49a09d, #567a9b);
}

.background-red {
  background-color: #F06672;
}

.background-red-dark {
  background-color: #b13c3d;
}

.background-red-light {
  background: linear-gradient(180deg, #ffa47c, #c77f67);
}

.background-green {
  background-color: #39bc8a;
}

.background-green-dark {
  background-color: #0f9962;

}

.background-green-light {
  background: linear-gradient(0deg, #9bd2b0, #6ea080);
}

.background-orange {
  background-color: #FAB963;
}

.background-orange-dark {
  background-color: #d6951f;

}

.background-orange-light {
  background: linear-gradient(0deg, #ffec76, #a5994c);
}


.background-gray {
  background: #565354;
}

.background-gray-light {
  background: #ada9aa;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  text-align: center;
  margin: auto;
}

.custom-file-input::before {
  content: 'Procurar arquivo';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 4px 4px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 11pt;
  magin-top: 1em;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.align-center {
  text-align: center;
  margin: auto;
}